* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    background: url(../images/fon-bg2.jpg) repeat 0 0;
    min-height: 100%;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #2e2e2e;
}

img {
    border: 2px solid #fff;
}

a {
    outline: none;
    color: #2e2e2e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #1253b4;
}

a:active {
    text-decoration: underline;
    color: #45008b;
}

a img {
    border: 2px solid #fff;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 20px;
}

ul li {
}

ol {
    padding-left: 28px;
    margin-bottom: 30px;
}

ol li {
}

ol li ol {
    margin-bottom: 28px;
}

ol li ol li {
    list-style: lower-alpha;
}

blockquote {
    background: url(../images/choice-bg.png) repeat 0 0;
    padding: 20px 26px;
    font-family: Courier New;
    font-style: italic;
    font-size: 24px;
    line-height: 30px;
    color: #2e2e2e;
    margin-bottom: 16px;
}

blockquote p {
    margin-bottom: 16px;
}

blockquote a {
    color: #2f709e;
    text-decoration: none;
}

blockquote a:hover {
    text-decoration: underline;
}

a.submit {
    display: block;
    text-decoration: none;
    outline: 0;
    background: #2f709e;
    text-align: center;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    -khtml-border-radius: 9px;
    border-radius: 9px;
    behavior: url(PIE.htc);
    height: 33px;
    padding-bottom: 2px;
    line-height: 33px;
    font-size: 28px;
    background-position: 0 0px;
    padding: 10px 28px;
    color: #fff;
    font-weight: 100;
    width: 248px;
}

a.submit:hover, a.submit2:hover {
    background: #6895b4;
    background-position: 0 -20px;
    background-position: 0 0px;
    margin-top: -5px;
    margin-bottom: 5px;
}

a.submit:active, a.submit2:active {
    background: #134b72;
    position: relative;
    margin-top: 0;
}

a.submit2 {
    height: 23px;
    width: 78px;
    line-height: 23px;
}

table {
    border-collapse: collapse;
}

table tr {
}

table tr {
}

table tr th {
    background: url(../images/th-bg.png) repeat 0 0;
    font-size: 26px;
    line-height: 28px;
    color: #2e2e2e;
    padding: 10px 16px;
    border: 2px solid #bcbcbc;
    text-align: left;
    font-weight: 100;
}

table tr td {
    background: transparent;
    font-size: 24px;
    line-height: 28px;
    color: #2e2e2e;
    padding: 10px 16px;
    border: 2px solid #bcbcbc;
}

h1 {
    color: #2e2e2e;
    font-size: 35px;
    line-height: 37px;
    font-weight: 100;
    margin-bottom: 20px;
}

h2 {
    color: #2e2e2e;
    font-size: 32px;
    line-height: 34px;
    font-weight: 100;
    margin-bottom: 20px;
    margin: 20px 0;
}

h3 {
    color: #2e2e2e;
    font-size: 29px;
    line-height: 31px;
    font-weight: 100;
    margin-bottom: 20px;
}

h4 {
    color: #2e2e2e;
    font-size: 26px;
    line-height: 28px;
    font-weight: 100;
    margin-bottom: 20px;
}

h5 {
    color: #2e2e2e;
    font-size: 23px;
    line-height: 25px;
    font-weight: 100;
    margin-bottom: 20px;
}

h6 {
    color: #2e2e2e;
    font-size: 20px;
    line-height: 22px;
    font-weight: 100;
    margin-bottom: 20px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clear {
    clear: both;
    position: relative;
    zoom: 1;
    height: 1px;
    overflow: hidden;
}

.alignleft {
    text-align: left;
}

img.alignleft {
    float: left;
    margin: 4px 18px 5px 6px;
}

.alignright {
    text-align: right;
}

img.alignright {
    float: right;
    margin: 4px 6px 5px 18px;
}

.aligncenter {
    text-align: center;
}

#container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

/*--------------header---------------------*/
#header {
    padding: 46px 85px 0 85px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 10;
    height: 474px;
    margin: 0 auto;
    width: 1030px;
    background: url(../images/header-bg.jpg) no-repeat 50% 50%;
}

.search {
    position: relative;
    float: right;
    margin-right: -23px;
}

.search .inp-search {
    float: left;
    background: transparent;
    width: 252px;
    height: 22px;
    padding: 5px 8px;
    border: 1px solid #2e2e2e;
    outline: none;
    border-right: none;
    font-size: 18px;
    line-height: 20px;
    color: #2e2e2e;
    font-family: 'CalibriRegular';
}

.search .submit-search {
    float: left;
    background: url(../images/icons/lupa.png) no-repeat center center;
    cursor: pointer;
    width: 32px;
    height: 34px;
    border: 1px solid #2e2e2e;
    border-left: none;
    outline: none;
}

.logo {
    width: 276px;
    height: 275px;
    background: url(../images/logo.png) no-repeat 0 0;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -138px;
    z-index: 20;
}

.two-links {
    position: absolute;
    top: 200px;
    left: 50%;
    width: 880px;
    margin-left: -440px;
}

.two-links .link-right, .two-links .link-left {
    font-size: 24px;
    line-height: 26px;
    color: #2e2e2e;
    float: right;
    text-decoration: none;
}

.two-links .link-right {
    padding-left: 33px;
    background: url(../images/icons/dot.png) no-repeat left center;
    float: right;
    margin-right: 24px;
}

.two-links .link-left {
    padding-right: 33px;
    background: url(../images/icons/dot.png) no-repeat right center;
    float: left;
    margin-left: 13px;
}

/*.two-links .link-left:hover, .two-links .link-right:hover{text-decoration:underline;}*/

.header-block-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 116px;
    width: 100%;
}

.slogan {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 26px;
    line-height: 28px;
    color: #2e2e2e;
    margin-bottom: 19px;
}

.nav {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 65px;
    padding: 2px 0 2px 0px;
    background: url(../images/nav-bg.png) no-repeat 0 0;
    width: 100%;
}

.nav li {
    list-style: none;
    display: inline-block;
    padding: 0 42px;
}

.nav li+li {
    background: url(../images/icons/dot2.png) no-repeat left center;
}

.nav li a {
    font-size: 24px;
    line-height: 26px;
    color: #2e2e2e;
    text-decoration: none;
    display: inline-block;
    padding: 18px 12px;
    height: 29px;
    display: block;
}

.nav .active {
    color: #ee5b45;
    text-decoration: none;
    font-size: 34px;
    margin-top: -5px;
    text-align: center;
}

.nav .active:hover {
    color: #182737;
    background: none;
}

.nav li a:hover {
    background: #d7d6d3;
    text-decoration: none;
}

.nav li.current-menu-item a {
    color: #369;
}

/*---------------content--------------------*/
#wrapper {
    position: relative;
    width: 1030px;
    clear: both;
    margin: 0 auto 42px;
    padding: 49px 85px 34px 85px;
}

.content {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #C3C3C3;
    padding-bottom: 25px;
}

.content2 {
    border-bottom: none;
}

.slider {
    height: 696px;
}

.camera_wrap {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
    padding: 4px;
}

.slider {
    position: relative;
    overflow: hidden;
}

.gallery {
    position: relative;
    margin-bottom: 57px;
    overflow: hidden;
}

.title {
    font-size: 35px;
    line-height: 37px;
    color: #2e2e2e;
    text-align: center;
    margin-bottom: 70px;
}

.gallery-row {
    position: relative;
    overflow: hidden;
}

.gallery-list {
    position: relative;
    text-align: justify;
    margin-bottom: 34px;
    padding-left: 0;
    line-height: 0;
    font-size: 1px;
    text-justify: newspaper;
    zoom: 1;
    text-align-last: justify;
}

.gallery-list:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.gallery-list li {
    padding: 2px;
    background: #fff;
    position: relative;
    width: 236px;
    height: 246px;
    display: inline-block;
    text-align: left;
}

.gallery-list li .gblock {
    width: 236px;
    height: 246px;
    position: relative;
    overflow: hidden;
}

.gallery-list li .gblock a {
    width: 236px;
    height: 246px;
    display: block;
    position: relative;
}

.gallery-list li .gblock a img {
    width: 236px;
    height: 246px;
}

.gallery-list li .gblock a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: url(../images/magnify-alt.png) no-repeat center center rgba(0, 0, 0, 0.4);
}

.gallery-list li .gblock a:hover span {
    opacity: 1;
}

.gallery-list li .li-bottom {
    position: absolute;
    left: 2px;
    bottom: 2px;
    border-top: 1px solid #fff;
    height: 27px;
    padding: 28px 20px;
    width: 196px;
    background: url(../images/li-bottom-bg.png) repeat 0 0;
}

.gallery-list li .li-bottom a {
    font-size: 21px;
    line-height: 25px;
    color: #eae9e5;
    text-decoration: none;
}

.gallery-list li .li-bottom a:hover {
    text-decoration: underline;
}

.gallery-list li .gblock a span {
    -webkit-transition: .5s opacity;
    -moz-transition: .5s opacity;
    -ms-transition: .5s opacity;
    -o-transition: .5s opacity;
    transition: .5s opacity;
}

.fraims {
    position: relative;
}

.fraims .title {
    margin-bottom: 61px;
}

.fraim-right {
    position: relative;
    overflow: hidden;
    float: right;
: 42 px;
    margin-right: 42px;
}

.fraim-left {
    position: relative;
    overflow: hidden;
    float: left;
    margin-left: 50px;
}

.block-inform {
    position: relative;
    overflow: hidden;
    padding-bottom: 52px;
    border-bottom: 1px solid #C3C3C3;
    margin-bottom: 60px;
    margin-top: 28px;
    line-height: 30px;
    font-size: 23px;
}

.block-top {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.list-right {
    float: right;
    width: 280px;
}

.list-right .list-title {
    margin-bottom: 20px;
}

.list-right ul {
    border-left: 1px solid #c3c3c3;
    padding-left: 33px;
    margin-top: -6px;
}

.list-right ul li {
    list-style: none;
    background: url(../images/icons/arr.png) no-repeat left 10px;
    padding-left: 21px;
}

.list-right ul li a {
    font-size: 20px;
    line-height: 22px;
    color: #2e2e2e;
    text-decoration: none;
}

.list-right ul li a:hover {
    text-decoration: underline;
}

.block-left {
    overflow: hidden;
    text-align: center;
    width: 693px;
}

.block-left h1 {
    margin-bottom: 38px;
}

.date {
    font-size: 20px;
    line-height: 22px;
    color: #2e2e2e;
    float: right;
    font-style: italic;
    margin-top: 20px;
    margin-right: 16px;
}

.more {
    font-size: 20px;
    line-height: 22px;
    color: #1253b4;
    text-decoration: none;
    float: left;
    margin-left: 32px;
    display: block;
    margin-top: 20px;
}

.more:hover {
    text-decoration: underline;
}

.more:active {
    text-decoration: underline;
    color: #45008b;
}

.post {
    overflow: hidden;
    text-align: center;
}

.post p {
    margin-bottom: 20px;
    text-align: left;
}

.post img {
    text-align: center;
    margin-bottom: 15px;
}

.post a {
    display: inline-block;
    margin: 0 auto;
}

.h1 {
    color: #2e2e2e;
    font-size: 35px;
    line-height: 37px;
    font-weight: 100;
    margin-bottom: 36px;
}

.post .h1 {
    text-align: center;
    margin-bottom: 42px;
}

.con-right {
    float: right;
    width: 358px;
    padding-top: 68px;
}

.con-right .h1 {
    margin-bottom: 21px;
}

.options {
    position: relative;
    font-size: 24px;
    line-height: 30px;
    color: #2e2e2e;
    margin-bottom: 30px;
}

.choice {
    border: 1px solid #c3c3c3;
    width: 274px;
    height: 149px;
    overflow: hidden;
    padding: 15px 14px;
    background: url(../images/choice-bg.png) repeat 0 0;
}

.choice-title {
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 26px;
    color: #2e2e2e;
}

.choice a {
    font-size: 24px;
    line-height: 35px;
    color: #1253b4;
    text-decoration: underline;
    display: inline-block;
}

.choice a:hover {
    text-decoration: none;
}

.choice a:active {
    text-decoration: none;
    color: #45008b;
}

.con-left {
    position: relative;
    float: left;
    width: 616px;
}

.con-left h1 {
    margin-bottom: 36px;
}

.gallery2 {
}

.gallery2 .gallery-list {
    margin-bottom: 17px;
}

.gallery2 .gallery-list li {
    width: 191px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
}

.gallery2 .gallery-list li .li-bottom {
    width: 151px;
    height: 25px;
    padding: 12px 20px;
}

.gallery2 .gallery-list li .li-bottom a {
    font-size: 18px;
}

.gallery2 .gallery-list .gblock {
    width: 191px;
    height: 200px;
}

.gallery2 .gallery-list .gblock a {
    width: 100%;
    height: 100%;
}

.gallery2 .gallery-list .gblock a span {
    background: url(../images/icons/ok2.png) no-repeat center 30px rgba(0, 0, 0, 0.4);
}

.gallery2 .gallery-list .gblock a span.active {
    background: url(../images/icons/ok1.png) no-repeat center 30px rgba(0, 0, 0, 0.4);
    opacity: 1;
}

.gallery2 .gallery-list .gblock a span:active {
    background: url(../images/icons/ok1.png) no-repeat center 30px rgba(0, 0, 0, 0.4);
}

.link1, .link2 {
    display: block;
    text-decoration: underline;
    font-size: 35px;
}

.link1 {
    float: right;
}

.link2 {
    float: left;
}

.center {
    float: right;
    width: 783px;
    overflow: hidden;
}

.center-right, .tabs {
    float: right;
    width: 133px;
    padding-left: 35px;
    margin-right: 85px;
    margin-top: 16px;
}

.tabs li {
    list-style: none;
}

.tabs li a {
    text-decoration: none;
}

.inputfield {
    position: relative;
    margin-bottom: 19px;
}

.inputfield label, .tabs li label {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
    margin-bottom: 16px;
}

.tabs li label:hover {
    text-decoration: none;
}

.inputfield input.inpfield {
    width: 110px;
    height: 22px;
    padding: 5px 10px;
    background: transparent;
    border: 1px solid #a9a9a9;
    font-size: 14px;
    line-height: 16px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
    outline: none;
}

.b1 {
    background: url(../images/bg3.png) no-repeat 0 0;
    width: 29px;
    height: 6px;
    display: none;
    position: absolute;
    left: -36px;
    top: 47px;
}

#bg1, #bg2, #bg3, #bg4, #bg5, #bg6, #bg7, #bg8 {
    position: absolute;
    width: 1px;
    background: url(../images/bg.jpg) repeat-y;
    display: none;
}

#bg1 {
    left: -36px;
    top: 35px;
    height: 15px;
}

#bg2 {
    left: -36px;
    top: -53px;
    width: 1px;
    height: 104px;
}

#bg3 {
    left: -36px;
    top: -139px;
    width: 1px;
    height: 190px;
}

#bg4 {
    left: -36px;
    top: -226px;
    width: 1px;
    height: 277px;
}

#bg5 {
    left: -36px;
    top: -312px;
    width: 1px;
    height: 363px;
}

#bg6 {
    left: -36px;
    top: -399px;
    width: 1px;
    height: 450px;
}

#bg7 {
    left: -36px;
    top: -485px;
    width: 1px;
    height: 536px;
}

#bg8 {
    left: -36px;
    top: -571px;
    width: 1px;
    height: 622px;
}

.current.bgactive:hover span.b1 {
    display: block;
}

.current .bgactive:hover #bg1, .current .bgactive:hover #bg2, .current .bgactive:hover #bg3, .current .bgactive:hover #bg4, .current .bgactive:hover #bg8, .current .bgactive:hover #bg5, .current .bgactive:hover #bg6, .current .bgactive:hover #bg7 {
    display: block;
}

.current #bg1, .current .b1 {
    display: block;
}

.current #bg2, .current .b1 {
    display: block;
}

.current #bg3, .current .b1 {
    display: block;
}

.current #bg4, .current .b1 {
    display: block;
}

.current #bg5, .current .b1 {
    display: block;
}

.current #bg6, .current .b1 {
    display: block;
}

.current #bg7, .current .b1 {
    display: block;
}

.current #bg8, .current .b1 {
    display: block;
}

.bgactive {
}

.center-in, .panes {
    position: relative;
    float: left;
    width: 530px;
}

.block-video {
    position: relative;
    margin-top: 42px;
}

.block-video-title {
    font-size: 14px;
    line-height: 16px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
    margin-bottom: 16px;
    background: url(../images/bg.jpg) repeat-x 0 center;
}

.block-video-title span {
    display: inline-block;
    background: url(../images/bg2.jpg) repeat 0 0;
    padding-right: 10px;
}

.video {
    width: 492px;
    height: 300px;
    margin-bottom: 47px;
}

.video img {
    border: none;
}

.price {
    font-size: 25px;
    line-height: 27px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
    margin-bottom: 52px;
}

.order-form {
    position: relative;
    width: 306px;
}

.form-row {
    margin-bottom: 20px;
}

.form-row p {
    font-size: 14px;
}

.order-form input {
    background: #fff !important;
    border: solid 1px #333;
}

.order-form .textarea {
    padding: 15px;
    width: 275px;
    height: 147px;
    outline: none;
    resize: none;
    background: url(../images/choice-bg.png) repeat 0 0;
    border: 1px solid #c6c6c6;
    margin-bottom: -4px;
}

.sidebar {
    float: left;
    margin-top: 39px;
    width: 185px;
}

fieldset {
    padding: 5px 17px;
    width: 147px;
    margin-bottom: 22px;
}

legend {
    font-size: 15px;
    line-height: 17px;
    color: #2e2e2e;
    font-family: Verdana, sans-serif;
    padding: 0 5px;
}

fieldset a {
    font-size: 14px;
    line-height: 16px;
    color: #1253b4;
    font-family: Verdana, sans-serif;
    text-decoration: underline;
}

fieldset a:hover {
    text-decoration: none;
}

fieldset a:active {
    color: #45008b;
    text-decoration: none;
}

.form {
    background: url(../images/th-bg.png) repeat 0 0;
    padding: 15px 14px;
    width: 219px;
}

.form input {
    width: 189px;
    height: 22px;
    padding: 5px 13px;
    outline: none;
    background: url(../images/input-bg.jpg) repeat 0 0;
    border: 2px solid #bcbcbc;
    line-height: 22px;
    font-weight: 100;
    font-size: 20px;
    color: #2e2e2e;
}

.form textarea {
    width: 189px;
    height: 130px;
    padding: 5px 13px;
    resize: none;
    outline: none;
    background: url(../images/input-bg.jpg) repeat 0 0;
    border: 2px solid #bcbcbc;
    line-height: 22px;
    font-weight: 100;
    font-size: 20px;
    color: #2e2e2e;
}

.form input.active {
    background: #fff;
}

.form input.attention {
    background: url(../images/at.png) no-repeat 5px center, url(../images/input-bg.jpg) repeat 0 0;
}

.form span {
    display: block;
    float: right;
    margin-top: 4px;
    font-size: 12px;
    line-height: 14px;
    color: #eb1f00;
    font-family: arial, sans-serif;
}

.form textarea.active {
    background: #fff;
}

/*------------------footer------------------*/
#footer {
    clear: both;
    margin: 0px auto;
    position: relative;
    height: 297px;
    z-index: 3;
    width: 100%;
    background: url(../images/footer-bg.jpg) repeat-x 0 0;
}

.footer-in {
    clear: both;
    overflow: hidden;
    margin: 0px auto 0 0px;
    text-align: left;
    width: 100%;
    height: 284px;
    border-top: 13px solid #d3d3d3;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #1a252f;
}

.footer-in  .cont-in {
    z-index: 1;
}

.footer-social-links {
    border-top: 1px solid #788592;
    border-bottom: 1px solid #5a6672;
    background: #34495e;
    height: 152px;
    padding: 30px 0 70px 0;
}

.social-links {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.social-links li {
    display: inline-block;
    list-style: none;
}

.social-links li+li {
    background: url(../images/social-li-bg.jpg) no-repeat left center;
    padding-left: 85px;
    margin-left: 10px;
}

.social-links li a {
    display: inline-block;
    width: 57px;
    height: 57px;
    position: relative;
}

.social-links li a span {
    display: block;
    width: 57px;
    height: 57px;
    position: absolute;
    top: 0;
    left: 0;
}

.social-links li a span.social1 {
    opacity: 1;
    background: url(../images/icons/ico1.png) no-repeat 2px center;
}

.social-links li a span.social1-1 {
    opacity: 0;
    background: url(../images/icons/ico1-1.png) no-repeat center center;
}

.social-links li a:hover span.social1 {
    opacity: 0;
}

.social-links li a:hover span.social1-1 {
    opacity: 1;
}

.social-links li a span.social2 {
    opacity: 1;
    background: url(../images/icons/ico2.png) no-repeat 17px center;
}

.social-links li a span.social2-2 {
    opacity: 0;
    background: url(../images/icons/ico2-2.png) no-repeat center center;
}

.social-links li a:hover span.social2 {
    opacity: 0;
}

.social-links li a:hover span.social2-2 {
    opacity: 1;
}

.social-links li a span.social3 {
    opacity: 1;
    background: url(../images/icons/ico3.png) no-repeat 22px 11px;
}

.social-links li a span.social3-3 {
    opacity: 0;
    background: url(../images/icons/ico3-3.png) no-repeat center center;
}

.social-links li a:hover span.social3 {
    opacity: 0;
}

.social-links li a:hover span.social3-3 {
    opacity: 1;
}

.social-links li a span.social4 {
    opacity: 1;
    background: url(../images/icons/ico4.png) no-repeat center center;
}

.social-links li a span.social4-4 {
    opacity: 0;
    background: url(../images/icons/ico4-4.png) no-repeat center center;
}

.social-links li a:hover span.social4 {
    opacity: 0;
}

.social-links li a:hover span.social4-4 {
    opacity: 1;
}

.social-links li a span.social5 {
    opacity: 1;
    background: url(../images/icons/ico5.png) no-repeat center center;
}

.social-links li a span.social5-5 {
    opacity: 0;
    background: url(../images/icons/ico5-5.png) no-repeat center center;
}

.social-links li a:hover span.social5 {
    opacity: 0;
}

.social-links li a:hover span.social5-5 {
    opacity: 1;
}

.social-links li a span.social6 {
    opacity: 1;
    background: url(../images/icons/ico6.png) no-repeat 0px 4px;
}

.social-links li a span.social6-6 {
    opacity: 0;
    background: url(../images/icons/ico6-6.png) no-repeat center center;
}

.social-links li a:hover span.social6 {
    opacity: 0;
}

.social-links li a:hover span.social6-6 {
    opacity: 1;
}

.social-links li a span {
    -webkit-transition: .5s opacity;
    -moz-transition: .5s opacity;
    -ms-transition: .5s opacity;
    -o-transition: .5s opacity;
    transition: .5s opacity;
}

.footer-social-links .title {
    margin-bottom: 61px;
    color: #eae9e5;
}

#to-top {
    position: absolute;
    bottom: 8px;
    display: block;
    left: 50%;
    width: 43px;
    margin-left: -21px;
    width: 43px;
    height: 22px;
    background: url(../images/icons/back.png) no-repeat 0 0;
}

#to-top:hover {
    background-position: 0 -22px;
}

.pay-block {
    height: 54px;
    display: none;
    padding: 13px 0;
    border-bottom: 1px solid #c0c1c1;
    background: #eee;
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.pay-block .cont-in {
    width: 1113px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.pay {
    float: right;
    width: 135px;
    height: 44px;
    margin-top: 7px;
}

.pay-logo {
    background: url(../images/pay-logo.png) no-repeat 0 0;
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
    display: block;
}

.pay-nav {
    position: relative;
    margin-top: 12px;
}

.pay-nav li {
    list-style: none;
    float: left;
    padding-left: 21px;
    margin-right: 20px;
}

.pay-nav li+li {
    background: url(../images/icons/dot3.png) no-repeat left 14px;
}

.pay-nav li a {
    font-size: 20px;
    line-height: 22px;
    color: #2e2e2e;
    text-decoration: none;
}

.pay-nav li a:hover {
    text-decoration: underline;
}

.scroll-pane {
    width: 333px;;
    max-height: 400px;
    overflow: auto;
    margin: 10px 8px 10px 0px;
}

.horizontal-only {
    height: auto;
    max-height: 200px;
}

.conditions {
    padding-top: 5px;
    font-size: 18px;
    line-height: 16px;
    text-decoration: underline;
    color: #369;
}

#errors li {
    color: #f00;
    margin-left: 10px;
    font-size: 14px;
    padding: 3px;
}

.error {
    border: solid 1px red !important;
}

.slider a {
    color: #ee5b45;
}

.slider a:hover {
    color: #f00;
}

@media screen and (max-width: 1280px) {
    #header, #wrapper {
        width: 1030px;
    }
}

@media screen and (max-width: 1150px) {
    .nav li {
        padding: 0;
    }
    #header, #wrapper {
        width: 80%;
    }
    .header-block-bottom {
        width: 90%;
    }
}

@media screen and (max-width: 980px) {
    
}

@media screen and (max-width: 850px) {
    .search {
        display: none;
    }
    .two-links {
        display: none;
    }
}